h1 img {
  height: 36px;
  vertical-align: bottom;
}

.container {
  width: 750px;
}

#error {
  visibility: hidden;
}

#add-players {
  padding-bottom: 20px
}

#player-name-input {
  width: 522px;
  display: inline;
}

#add-players button {
  margin-top: -2px;
}

#game {
  display: none;
}

#game table {
  table-layout: fixed;
}

#game table thead tr th:nth-child(n+2):nth-child(-n+11) {
  text-align: center;
}

#game table thead tr th:nth-child(n+2):nth-child(-n+10) {
  width: 50px;
}

#game table thead tr th:nth-child(n+11) {
  width: 75px;
}

#game table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

#game table tbody tr td:first-child, #game table tbody tr td:last-child {
  text-align: left;
}

#game table tbody tr td.current {
  background-color: red;
}

#score {
  display: none;
}

#score-input {
  display: inline;
  width: 100px;
}

#score-button {
  margin-top: -2px;
}

#winner {
  display: none;
  text-align: center;
  font-size: 24px;
}

#winner img {
  margin-left: auto;
  margin-right: auto;
}